.ProseMirror {
  border: thin solid black;
  border-radius: 0.25rem;
  padding: 1rem;
  outline: none;
  min-height: 200px;
}

#editor {
  margin: auto;
  width: 80%;
  max-width: 700px;
}

ins,
[data-node-insertion] {
  background-color: #baffdf;
  color: #00973c;
}

del,
[data-node-deletion] {
  color: #9f003e;
  background-color: #ffb7dc;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

[data-type="structure"] {
  background-color: #b3d9ff;
  color: #005c99;
  mix-blend-mode: multiply;
}

blockquote {
  border-left: 2px solid #000;
  padding-left: 1rem;
  margin-left: 1rem;
}
